*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
    font-family: "Bungee", sans-serif;
    font-weight: normal;
}

body,
input,
textarea {
    font-family: "Roboto", sans-serif;
}

header {
    padding: 32px 0;
    background-color: rgb(127, 221, 90);
    color: white;
    font-size: 36px;
    
}

header nav li {
    display: inline;
    margin-left: 16px;
    color: white;
    font-size: 24px;   
}

header nav li a {
    color: white;
    text-decoration: none;   
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container img {
    padding: 100;
    height: 350px;
    display: grid;
    place-items: p;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 80px 0;
}

section h2 {
    margin-bottom: 24px;
}

section p {
    margin-bottom: 12px;
}

section img {
    margin-right: 56px;
}

.social-links img {
    height: 42px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container2 {
    display: block;
    margin-left: 300px;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
    margin-right: 300px;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 24px;
}

form button {
    background-color: rgb(127, 221, 90);
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(169, 243, 140);;
}

input:focus, textarea:focus {
    outline-color: rgb(127, 221, 90) ;
}

footer {
    background-color: rgb(127, 221, 90) ;
    color: #fff;
    padding: 16px 0;
    font-weight: bolder;
}